.dg-wrapper {
  border: 1px solid #bdc3c7;
  position: relative; 
  overflow: hidden
}

.dg-scroller {
  overflow: auto scroll;
  height: 100%
}

.dg {  
  border-spacing: 0;
  table-layout: fixed;
  empty-cells: show;  
  /*width: 100%;*/
}

.dg-header, .dg-cell {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  box-sizing: border-box;
}

.dg-header {
  padding: 4px 12px;
  background: #f5f7f7;
  color: rgba(0, 0, 0, 0.55);
  font-weight: 600;  
  border-bottom: solid 1px #bdc3c7;
  position: sticky;
  top: 0;
  text-align: left;
  user-select: none;
}

.dg-sort {
  cursor: pointer;
}

.dg-sort:active {
  background: #e0e0e0;
}

.dg-resizer {
  position: absolute;
  right: 0;
  top: 5px;
  height: calc(100% - 10px);
  border-right: solid 1px #d9e0e4;
  padding-right: 4px;
  cursor: col-resize;
}

.dg-cell {
  padding: 2px 12px;
  border-bottom: solid 1px #d9e0e4;  
}

.dg-right {
  text-align: right;
}

.dg-row:nth-child(even) {
  background: #fcfdfe;
}

.dg-row:hover {
  background: #e0f4ff !important;
}

.dg-sort-count {
  font-weight: normal;
  margin-right: 0.5ch;
}

.dg-icon {
  fill: currentColor;
  height: .83em;
  width: .83em;
}

.dg-selectable .dg-row {
  cursor: pointer;
}

.dg-row.dg-selected {
  background: #daf1ff;
}

@keyframes dg-loader {
  50% { background-size: 80%; }
  100% { background-position: 125% 0; }
}

.dg-loader {
  height: 0; 
}

.dg-loader::after
{
  content: '';
  position: absolute; 
  background: linear-gradient(to right, #64bff0, #64bff0) repeat-y; 
  height: 2px;
  width: 100%;
  left: 0;
  background-position: -25% 0; 
  background-size: 20%; 
  animation: dg-loader 1.5s ease-in-out infinite;
}